apiVersion: v1
kind: Namespace
metadata:
  name: {{ common.namespace }}
  annotations:
        {{ namespace.annotations | to_nice_yaml(indent=2) | trim | indent(8) }}
  labels:
        {{ common.labels | combine(namespace.labels) | to_nice_yaml(indent=2) | trim | indent(8) }}
